@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    background-image: linear-gradient(to right, #fc5c7d, #6a82fb);

}
#mainBox{
    border:1px solid lightgrey;
    width: 900px;
    margin: auto;
    margin-top: 30px;
    border-radius: 20px;
    padding: 20px;
    background: #fff;
    
}
table{
    width: 100%;
    text-align: center;
    border-collapse: collapse;
    overflow: hidden;
    border-radius: 5px;
    
}
thead{
    background: #333;
    color: #fff;
    height: 38px;
    
}
th,td{
    font-weight: 400;
    padding: 7px;
}
#userbtn{
    width: 100%;
    margin-bottom: 10px;
    padding: 8px 0;
    background: #6a82fb;
    outline: none;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-weight: 400;
    font-size: 17px;
}
tr:nth-child(even){
    background: #f8f8f8;
}
table tbody tr:hover {
    background: #f1f1f1;

}
table tbody tr{
    cursor: pointer;

}
.edit{
    
    font-size: 20px;
    border: none;
    color: green;
}
.delete{

    font-size: 20px;
    color: blue;
}

button{
    border: none;
    cursor: pointer;
}
/* New form css starts here  */
#formBox{
    position: fixed;
    top: 50%;
    left: 50%;
    width: 400px;
    padding: 20px;
    background: #8348FF;
    border-radius: 10px;
    pointer-events:none;
    opacity: 0;
    z-index: -10;
    transform: translate(-50%,-50%) scale(0);
    transition: all cubic-bezier(0, 1.09, 0.16, 0.83)0.5s;
}

#formBox.active{
    pointer-events: auto;
    opacity: 1;
    z-index: 10;
    transform: translate(-50%,-50%) scale(1);
}

#formBox form #inputBox{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 10px;
    grid-column-gap: 10px;
    
}
#formBox form #inputBox input,#selectSkill{
    width: 100%;
    padding-left: 10px;
    outline: none;
    border-radius: 3px;
    border: 1px solid lightgrey;
    height: 30px;
    font-size: 14px;
}  
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
#formBtn{
    width: 100%;
    margin-top: 10px;
    padding: 5px;
    outline: none;
    border: none;
    border-radius: 5px;
    color:#555555;
    font-size: 16px;
    font-weight: 600;
}
#formBox #headingBox{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}
#headingBox .close{
    font-size: 20px;
    color: white;
    cursor: pointer;
}
#headingBox #userbtn{
    font-weight: 500;
    color: #fff;
}
option{
    background: black;
    color: #fff;
}
#headingBox h2{
    color: #fff;
    font-weight: 500;
}

